<ion-view title="校园美景" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="page2-card21">
            <ion-item class="item-icon-left  " id="page2-list-item10">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="page2-list-item-container2">
                <p id="page2-markdown16" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="page2-card22">
            <ion-item class="item-icon-left  " id="page2-list-item12">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="page2-list-item-container5">
                <p id="page2-markdown7" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>