<ion-view title="个人主页" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page11-list12" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="page11-list-item58">
                <h2>张三</h2>
                <i class="icon ion-log-out"></i>
            </ion-item>
        </ion-list>
        <div class="list card " id="page11-card210">
            <ion-item class="item-icon-left  " id="page11-list-item62">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="page11-list-item64">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="page11-list-item65">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="page11-list-item66">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="page11-list-item67">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </div>
    </ion-content>
</ion-view>